/* importing fonts from fonts.css file */
@import url(./fonts.css);

/* global styling*/
@import url(./partials/_global.css);

/* Css variables */
@import url(./partials/_variables.css);

/* Nav Bar Styling*/
.header_area .main_menu .navbar .navbar-brand{
  padding-left: 7rem; 
} 

.header_area .main_menu .nav-item .nav-link{
  text-transform: uppercase;
  font-weight: 500; 
  padding: 1.5rem;
  color: var(--title-color);
}

.header_area .main_menu .navbar .icons .icon{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.header_area .main_menu .navbar .navbar-brand .img-square{
  width: 17px ;
  height: 17px ;
}

.name_header{
  display: inline-block;
}

.header_area .main_menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main_menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Styling */
.site-main .site-banner{
  padding: 5rem 2rem 10rem 20rem; 
  /*background: url(../img/background.jpg) no-repeat 0% 50%;*/
}

.site-main .site-banner .site-title h3{
  font-weight: 500;
}

.site-main .site-banner .site-title h1{
font-size: 5rem
}
.site-main .site-banner .site-title h4{
font-size: 1.5rem
}

.site-main .site-banner .img-fluid{
  padding: 0rem 3rem 0rem 0rem;
}

/* About Area */
.site-main .about-area{
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2> span{
  display: block;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 10px;
}